<!DOCTYPE html>
<html>

<head>
    <title>Brief Voice</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

<div id="root-container" class="mainDiv">
    <div class="gears">
        <div id = "gearImg">
            <img id = "gearImgID" src="https://static.thenounproject.com/png/100612-200.png">
        </div>
        <div class="gear" id="1">
            <p>1</p>
        </div>
        <div class="gear" id="2">
            <p>2</p>
        </div>

        <div class="gear" id="3">
            <p>3</p>
        </div>

        <div class="gear" id="4">
            <p>4</p>
        </div>

        <div class="gear" id="5">
            <p>5</p>
        </div>

        <div class="gear" id="0">
            <p>N</p>
        </div>

    </div>

    <div class="panel">
        <div id = "gearImg">
            <img id = "gearImgID" src="https://png.pngtree.com/svg/20170412/ad1c74309c.png">
        </div>

        <div id="speed">
            <p>No data</p>
        </div>

        <div id = "gearImg">
            <img id = "gearImgID" src="https://static.thenounproject.com/png/161606-200.png">
        </div>

        <div id="fuel">
            <p>No data</p>
        </div>

        <div id = "gearImg1">
            <img id = "gearImgID" src="https://cdn4.iconfinder.com/data/icons/automotive-maintenance/100/auto_seatbelt-512.png">
        </div>
    </div>



    <div class="panel">
        <div id = "gearImg">
            <img id = "gearImgID" src="https://cdn.iconscout.com/icon/free/png-256/humidity-forecast-hydration-precipitation-temperature-weather-38924.png">
        </div>

        <div id="humidity">
            <p>No data</p>
        </div>

        <div id = "gearImg">
            <img id = "gearImgID" src="https://www.raspberrypi.org/documentation/configuration/images/over_temperature_80_85.png">
        </div>

        <div id="temperature">
            <p>No data</p>
        </div>


        <div id = "gearImg">
            <img id = "gearImgIDi" src="http://icons.iconarchive.com/icons/icons8/ios7/256/Astrology-Air-Element-icon.png">
        </div>

        <div id="airQuality">
            <p>No data</p>
        </div>
    </div>

    <div id="temperatureMsg"></div>

    <div class= "carCla" id = "carImg">
        <img id = "carImgID" src="https://i.ibb.co/86zgPw5/noSignal.png">
    </div>

    <div id="root" class="root"></div>

    <div class="spotify-frame">
        <iframe
                src="https://open.spotify.com/embed/user/mataspo/playlist/4iBO7KQXgzfV3z2OJ1YFUt"
                width="100%"
                height="100%"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media">
        </iframe>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<link
        rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css'
        type='text/css'
/>

<div class="mapDiv" id='map'></div>

<script>
    var longitudeMatui = 8.4;
    var latitudeMatui = 40.2;

    setInterval(
        () => axios.get(`http://130.82.239.210/signal/NP_LongDegree`)
            .then(response => {
                longitudeMatui = parseFloat(response.data.signal.measurement.value);
            }), 1000
    );

    setInterval(
        () => axios.get(`http://130.82.239.210/signal/NP_LatDegree`)
            .then(response => {
                latitudeMatui = parseFloat(response.data.signal.measurement.value);
            }), 1000
    );

    mapboxgl.accessToken = 'pk.eyJ1IjoibWF0YXMtcG9jZXZpY2l1cyIsImEiOiJjanQxbjRkdnEwY2Z3M3pwMzhjaWt0aHdkIn0.vPMyhueqXv5NMGMud0FjLA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/basic-v9',
        zoom: 5,
        center: [longitudeMatui, latitudeMatui]
    });

    map.addControl(new MapboxDirections({
        accessToken: mapboxgl.accessToken
    }), 'top-right');

    function pointOnCircle() {
        return {
            "type": "Point",
            "coordinates": [longitudeMatui, latitudeMatui]
        };
    }

    map.on('load', function() {

        map.addSource('point', {
            "type": "geojson",
            "data": pointOnCircle()
        });
        //
        map.addLayer({
            "id": "points",
            "source": "point",
            "type": "circle",
            "paint": {
                "circle-radius": 10,
                "circle-color": "#007cbf"
            }
        });
    });

    map.on('data', function() {
        map.flyTo({
            center: [longitudeMatui, latitudeMatui],
            zoom: 15,
            speed: 100,
        });

        if (map.getSource('point')) {
            map.getSource('point').setData(pointOnCircle())
        }

    })
</script>


<script type="text/babel">
    class SignalInformation extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                signalData: null,
            };
        }

        componentDidMount() {
            this.timer = setInterval(
                () => axios.get(`http://130.82.239.210/signal/${this.props.name}`)
                    .then(response => {
                        speechSynthesis.resume();
                        const data = response.data.signal.measurement.value;
                        if (this.props.name === 'AB_Gurtschloss_FA') {
                            const valueMap = {
                                0: 'Not Built-in',
                                1: 'Initialization',
                                2: 'Not Fastened',
                                3: 'Fastened',
                            };
                            if (valueMap[data] !== 'Fastened') {
                                this.props.textToSpeech("Please put the seat belt on.");
                            }
                            this.setState({signalData: valueMap[data]});
                        } else if(this.props.name === 'KBI_Tankfuellstand_Prozent'
                            || this.props.name === 'FS_Luftfeuchte_rel') {
                            this.setState({signalData: `${data}%`,
                            })
                        } else if (this.props.name.includes("Temp")) {
                            this.setState({signalData: `${data} C`,
                            })
                        } else if (this.props.name === 'ESP_v_Signal') {
                            if (data > 40) {
                                this.props.textToSpeech("You are driving too fast. Please slow down.");
                            }
                            this.setState({signalData: `${data.toFixed(3)} m/s`,
                            })
                        } else if (this.props.name === 'ESP_Laengsbeschl') {
                            this.setState({signalData: `${data.toFixed(3)} m/s\u00B2`,
                            })
                        } else if (this.props.name === 'ESP_Bremsdruck') {
                            this.setState({signalData: `${data.toFixed(3)} Bar`,
                            })
                        } else {
                            this.setState({
                                signalData: `${data}`,
                            })
                        }
                    }), 3000
            )
        }

        componentWillUnmount() {
            clearInterval(this.interval);
        }

        render() {
            const {
                name,
                translation,
            } = this.props;
            const signalData = this.state.signalData;

            if (name === 'MO_Gangposition') {
                if (signalData!== null) {
                    const ele = document.getElementsByClassName('gear');
                    for (let i = 0; i < ele.length; i++ ) {
                        ele[i].style.background = "#fff9f9";
                        ele[i].style.color = "black";
                    }
                    document.getElementById(signalData).style.background = "green";
                    document.getElementById(signalData).style.color = "white";

                }
                return null
            }

            if (name === 'ESP_v_Signal') {
                if (signalData!== null) {
                    document.getElementById("speed").innerHTML = Math.round(parseFloat(signalData))+" km/h";
                }
                return null
            }

            if (name === 'FS_Temp_Sensor') {
                if (signalData!== null) {
                    document.getElementById("temperature").innerHTML = Math.round(parseFloat(signalData)*10)/10+"ºC";
                    if (signalData>=18 && signalData<=22) {
                        document.getElementById("temperatureMsg").innerHTML = "";
                    } else {
                        document.getElementById("temperatureMsg").innerHTML = "Change temperature to 18-22ºC to feel comfortable";
                    }
                }
                return null
            }

            if (name === 'FS_Luftfeuchte_rel') {
                if (signalData!== null) {
                    document.getElementById("humidity").innerHTML = Math.round(parseFloat(signalData)*10)/10;
                    if (signalData >=30 && signalData <= 50) {
                        document.getElementById("airQuality").innerHTML = "Comfortable";
                    } else {
                        document.getElementById("airQuality").innerHTML = "ADJUST";
                    }
                }
                return null
            }

            if (name === 'KBI_Tankfuellstand_Prozent') {
                if (signalData !== null){
                    document.getElementById("fuel").innerHTML = (signalData);
                }
                return null
            }


            if (name === 'AB_Gurtschloss_FA') {
                if (signalData !== null){
                    if (signalData === "Fastened") {
                        document.getElementById('gearImg1').style.background = "green";
                    } else {
                        document.getElementById('gearImg1').style.background = "red";
                    }
                }
                return null
            }

            if (name === 'BH_Blinker_li') {
              console.log("left"+signalData);
                if (signalData !== null){
                    if (signalData === "1") {
                      console.log("baba");

                        document.getElementById('carImgID').src="https://i.ibb.co/R2Vb101/left-Signal.png";
                    } else {
                        document.getElementById('carImgID').src="https://i.ibb.co/86zgPw5/noSignal.png";
                    }
                }
                return null
            }

            if (name === 'BH_Blinker_re') {
              console.log("right"+signalData);

                if (signalData !== null){
                    if (signalData === "1") {
                      console.log("baba");

                        document.getElementById('carImgID').src="https://i.ibb.co/k9yyBjp/right-Signal.png";
                    } else {
                        document.getElementById('carImgID').src="https://i.ibb.co/86zgPw5/noSignal.png";
                    }
                }
                return null
            }

            if (name === 'MO_Drehzahl_01' || name === 'KBI_Aussen_Temp_gef' || name === 'ESP_Laengsbeschl' || name === 'ESP_Bremsdruck') {
                return null
            }


            const textElement = <div className="textElement">
                <p className={`${name}-${signalData ? signalData : null}`}>
                    {`${translation}: ${signalData}`}
                </p>
            </div>;
            return textElement
        };
    }

    class SignalInformationContainer extends React.Component {
        constructor(props) {
            super(props);

            this.state = {
                signalNames: [
                    'MO_Gangposition',
                    'ESP_v_Signal',
                    'ESP_Laengsbeschl',
                    'AB_Gurtschloss_FA',
                    'MO_Drehzahl_01',
                    'KBI_Tankfuellstand_Prozent',
                    'ESP_Bremsdruck',
                    'KBI_Aussen_Temp_gef',
                    'FS_Temp_Sensor',
                    'FS_Luftfeuchte_rel',
                    'BH_Blinker_li',
                    'BH_Blinker_re'
                ],
                signalTranslations: {
                    'ESP_Bremsdruck': 'Brake Pressure',
                    'MO_Drehzahl_01': 'RPM',
                    'KBI_Tankfuellstand_Prozent': 'Gas Level',
                    'ESP_Laengsbeschl': 'Acceleration',
                    'AB_Gurtschloss_FA': 'The Seat Belt',
                    'KBI_Aussen_Temp_gef': 'Outside Temperature',
                    'FS_Temp_Sensor': 'In-car Temperature',
                    'FS_Luftfeuchte_rel': 'In-car Humidity',
                    'ESP_v_Signal': 'Current Speed',
                    'MO_Gangposition': 'Current Gear',
                    'BH_Blinker_li': 'Left Signal',
                    'BH_Blinker_re': 'Right Signal',
                },
            };
            this.speechSynthesis = new SpeechSynthesisUtterance();
        }

        textToSpeech(message) {
            this.speechSynthesis.text = message;
            const voices = window.speechSynthesis.getVoices();
            this.speechSynthesis.voice  = voices[3];
            speechSynthesis.speak(this.speechSynthesis);
            speechSynthesis.resume()
        }

        render() {
            return <div>
                {this.state.signalNames ? this.state.signalNames.map(name =>
                    <SignalInformation
                        key={name}
                        name={name}
                        translation={this.state.signalTranslations[name]}
                        textToSpeech={message => this.textToSpeech(message)}
                    />
                ) : null}
            </div>;
        }
    }
    ReactDOM.render(
        <SignalInformationContainer />,
        document.getElementById('root')
    );
</script>

</body>
</html>
