<!DOCTYPE html>
<html>
<head>
    <title>Brief Voice</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

<div id="root-container" class="mainDiv">
    <div id="root"> </div>
    <div class="spotify-frame">
        <iframe
                src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3"
                width="100%"
                height="100%"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media">
        </iframe>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<link
        rel='stylesheet'
        href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css'
        type='text/css'
/>

<div class="mapDiv" id='map'></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWF0YXMtcG9jZXZpY2l1cyIsImEiOiJjanQxbjRkdnEwY2Z3M3pwMzhjaWt0aHdkIn0.vPMyhueqXv5NMGMud0FjLA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-79.4512, 43.6568],
        zoom: 13
    });

    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    }), 'top-left');

    map.addControl(new MapboxDirections({
        accessToken: mapboxgl.accessToken
    }), 'top-right');


</script>


<script type="text/babel">
    class SignalInformation extends React.Component {
        render() {
            return <p>{this.props.text}</p>;
        }
    }

    class SignalInformationContainer extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                signalInfo: [],
            }
        }

        componentDidMount() {
            axios.get('https://130.82.239.210/list')
                .then(response => this.setState({signalInfo: response}))
        }

        render() {
            return <SignalInformation
                text={`${this.state.signalInfo}`}
            />;
        }
    }
    ReactDOM.render(
        <SignalInformationContainer />,
        document.getElementById('root')
    );
</script>

</body>
</html>
