body {
    margin:0;
    display: flex;

    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
div.mainDiv {
    width:35%;
    height: 100vh;
}

div.mapDiv {
    width:65%;
    height: 100vh;
}

div.spotify-frame {
  position: absolute;
  bottom: 0;
  width: 35%;
  height: 30%;
}
